<html>
  <head>
    <meta charset="UTF-8">
    <title>Ripper Preview</title>
    <style>
    /* http://meyerweb.com/eric/tools/css/reset/
       v2.0 | 20110126
       License: none (public domain)
    */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    	margin: 0;
    	padding: 0;
    	border: 0;
    	font-size: 100%;
    	font: inherit;
    	vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    	display: block;
    }
    body {
    	line-height: 1;
    }
    ol, ul {
    	list-style: none;
    }
    blockquote, q {
    	quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    	content: '';
    	content: none;
    }
    table {
    	border-collapse: collapse;
    }

    <%= Rouge::Themes::Github.render %>
    /* fix highlighting */

    .container {
      display: flex;
      flex-direction: row;
    }

    .side {
      padding: 10px;
      margin: 0px;
      flex-grow: 1;
    }

    pre {
      font-family: monospace;
    }

    textarea[name=code] {
      width: 100%;
    }

    h1 {
      font-size: 1.5em;
      margin-bottom: 10px;
    }

    </style>
  </head>
  <body>
    <div class="container">
      <div class="side">
        <form action="/" method="GET">
          <h1>Ruby Code</h1>
          <textarea name="code" rows="20"><%= renderer.code %></textarea>
          <input type="submit" value="Rip!" />
        </form>
      </div>
      <div class="side">
        <h1><a href="http://ruby-doc.org/stdlib-2.5.0/libdoc/ripper/rdoc/Ripper.html">Ripper</a> S-expression</h1>
        <pre class="highlight">
# Ripper.sexp_raw(...) =>

<%= renderer.parsed_code %></pre>
      </div>
    </div>
    <div class="container">
      <div class="side">
        <h1>Graph Structure</h1>
        <img src="data:image/png;base64,<%= renderer.image_data %>"/>
      </div>
    </div>
    <p>Ruby version: <%= RUBY_VERSION %>, Source Code: <a href="https://github.com/rmosolgo/ripper-preview">GitHub</a>.</p>
  </body>
</html>
